* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
/* Nawigation */
.nav {
    height: 50px;
    background-color: #333;
    text-align: center;
    line-height: 50px;
    font-size: 0px;
}

.nav-item {
    display: inline-block;
}
 
.nav-item a {
    padding: 0 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 2px;
    transition: color .3s;
}
.nav-item a:hover {
    color: #1a476b;
}

/* header */ 
.header-img {
    position: relative;
    height: 400px;
    background-image: url('../img/interiorPorsche_1920.jpg');
    background-size: cover;
    background-position: 0 20%;
}

.header-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(218, 165, 32, .7);
    text-align: center;
    font-style: italic;
    font-size: 250%;
    font-weight: bold;
}

.header-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 3, 27, 0.4);
    z-index: 1;
}

/* foorer */
footer {
    height: 80px;
    line-height: 80px;
    color: #ddd;
    background-color: #333;
    text-align: center;
    font-style: 20px;
}

.icon-box {
    margin-left: 20px;
}

.icon-box a {
    margin: 0 5px;
    color: rgb(218, 165, 32, .7);
    font-size: 30px;
    transition: color .3s;
}

.icon-box a:hover {
    color: #1a476b;
}